<h1><%= "Bars for #{params[:city].capitalize}"  %></h1>

<% @bars.each do |bar| %>
  <div class="bar-card">
    <%= bar.ambiance %>
    <%= bar.address %>
    <%= bar.city %>
    <%= bar.price%>
    <%= bar.description %>
    <%= link_to "See this bar", bar_path(bar) %>
  </div>
<% end %>

 

 <div class="btn btn-outline-primary">
  <%= link_to "Back home", root_path %>
</div>
