<h1><%= "Bars for #{params[:city].capitalize}"  %></h1>

<% @bars.each do |bar| %>
  <div class="bar-card">
    <%= bar.name %>
    <%= bar.capacity %>
    <%= bar.ambiance %>
    <%= bar.address %>
    <%= bar.city %> |
    <%= link_to "Book this bar", new_reservation_path %>
  </div>
<% end %>
