<h1>Bars#new</h1>
<p>Find me in app/views/bars/new.html.erb</p>

<%= simple_form_for @bar do |f| %>
    <%= f.input :name %>
    <%= f.input :capacity, as: :numeric %>
    <%= f.input :ambiance %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.button :submit %>
<% end %>
