<div class="container">

    <h1>Ajouter un bar</h1>
    <%= simple_form_for @bar do |f| %>
    <%= f.input :name, placeholder: 'Enter the name' %>
    <%= f.input :capacity, as: :numeric, placeholder: 'Enter the capacity' %>
    <%= f.input :ambiance, placeholder: 'Enter the ambiance' %>
    <%= f.input :address, placeholder: 'Enter the address' %>
    <%= f.input :city, placeholder: 'Enter the city' %>
    <%= f.input :price, placeholder: 'Enter the price' %>
    <%= f.input :description, as: :text, placeholder: 'Enter the description' %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: 'btn-primary' %>
    <% end %>

</div>