<h1>Bars#show</h1>
<p>Find me in app/views/bars/show.html.erb</p>

    <%= @bar.name %>
    <%= @bar.capacity %>
    <%= @bar.ambiance %>
    <%= @bar.address %>
    <%= @bar.city %>

<%= link_to "Book it", new_bar_reservation_path(@bar) %>

<ul class="list-group">
  <% @bar.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", back_button_path(@search)  %>
