<h1>Bars#show</h1>
<p>Find me in app/views/bars/show.html.erb</p>

    <%= @bar.name %>
    <%= @bar.capacity %>
    <%= @bar.ambiance %>
    <%= @bar.address %>
    <%= @bar.city %>

<%= link_to ,  %><%=  %>
