<div class="container">

    <h1><%= @bar.name %></h1>
    <div class="card mb-5" style="position: relative; height: 600px; width: ">
        <%= link_to "Book it", new_bar_reservation_path(@bar), class: "btn btn-primary" ,style: "position: absolute; top: 30px; right: 30px"  %>
        <%= link_to "Back to search", back_button_path(@search), class: "btn btn-primary" ,style: "position: absolute; top: 30px; left: 30px"  %>
        <%if @bar.photo.attached?%>
        <%= image_tag @bar.photo, class: "card-img-top" %>
        <% end %>
        <div class="card-body">
            <div class="row m-0 d-flex justify-content-between">
                <h5 class="card-title">Capacity : <%= @bar.capacity %></h5>
                <h5 class="card-title">Price : <%= @bar.price %> $</h5>
                <h5 class="card-title"><%= "Rating : #{rating(@bar)}" %></h5>

            </div>

            <p class="card-text">Ambiance : <%= @bar.ambiance.capitalize %></p>
            <p class="card-text-description"><small class="text-muted"><%= @bar.description %></small></p>
            <p class="card-text">Address : <%= @bar.address %></p>
            <p class="card-text">City : <%= @bar.city.capitalize %></p>
        </div>
    </div>


    <ul class="list-group">
        <% @bar.reviews.each do |review| %>
        <li class="list-group-item">
            <table>
                <tbody>
                    <col width="140px" />
                    <col width=auto />
                    <col width="60px" />
                    <tr>
                        <td>
                            <p class="review_main"><%= User.find(review.user_id).first_name %></p>
                            <p class="text-muted"><%= review.created_at.strftime('%Y-%m-%d')%></p>
                        </td>
                        <td class="review_content"><%= review.content %></td>
                        <td class="review_main"><%= review.rating %> / 5</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <% end %>