<h1>Bars#show</h1>

    <%= @bar.name %>
    <%= @bar.capacity %>
    <%= @bar.ambiance %>
    <%= @bar.address %>
    <%= @bar.city %>
    

<%= link_to "Book it", new_bar_reservation_path(@bar) %>

<ul class="list-group">
  <% ratings = [] %>
  <% @bar.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
     <% ratings << review.rating %>
    </li>
  <% end %>
  
  <% if ratings != [] %>
    <%= average = ratings.sum / ratings.size.to_f %>
  <%end%>
  
</ul>

<%= link_to "Back", back_button_path(@search)  %>

<%if @bar.photo.attached?%>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @bar.photo.key, height: 600, width: 400%>')">
  <%=@bar.name%>
</div>
<%end%>
