
<div class= "fond">
  <div class="home_bannier_container" style= "height: 60vh; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_path "bars_bannier.jpg" %>); background-size: cover; background-position: bottom;" >
    <h1 class="home_bannier" style= "size: 100rem"> Barit </h1>
    <p class= "home_bannier_baseline"> Bests bars in the world </p>
  </div>


  <div class="home_d-flex">
    
    <div class="home_card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%=asset_path "sick_party.jpg" %>); background-size: cover;">
      <div class="home_card-body">
        <h5 class="home_card-title">Privatize a bar</h5>
        <p class="home_card-text">Privatize a bar to organize immmemorable events.</p>
        <%= form_tag("bars/", method: "get") do %>
        <%= label_tag(:city, "Search a bar in a specific city:", class: "home_label_tag") %>
        <br>
        <%= text_field_tag :city, nil, placeholder: 'Type the city here', class:"type_a_city"  %>
        <br>
        <%= submit_tag("Search",class: "btn btn-primary bouton_search") %>
        <% end %>
      </div>
    </div>

    <div class="home_card" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%=asset_path "rent_your_bar.jpg" %>); background-size: cover;">
        <div class="home_card-body">
          <h5 class="home_card-title">Rent your bar</h5>
          <p class="home_card-text">Rent your bar by the night.</p>
          <%= link_to 'Propose a bar', new_bar_path, class:"btn btn-primary" %>
        </div>
    </div>
  </div>
</div>
