<h1><%= "Dashboard #{@current_user.first_name}" %></h1>

<%= "#{@current_user.first_name} #{@current_user.last_name}" %>

<% @reservations.each do |reservation| %>
    <p><%= reservation %></p>
<% end %>

<% @bars.each do |bar| %>
   <p><%= bar %> | <%= link_to "Voir", bar_path(bar.id)%></p>
<% end %>
